$highlight-color: lightsteelblue
$space-width: .25rem

@mixin subscript-label
  font-size: 75%
  font-weight: bold
  font-family: monospace
  line-height: 0
  position: relative
  vertical-align: baseline
  bottom: -0.4em
  padding-left: .1rem
  padding-right: .1rem

@mixin highlight-chain($depth: 1, $color: $highlight-color)
  & + span:not(.markable)
    background: $color

    @if $depth > 1
      @include highlight-chain($depth - 1, $color)

@mixin ensure-black-font
  span[class^="Transliteration__"]
    color: black !important

.entity-span
  @include ensure-black-font

.text-annotation
  &__line-number
    ::selection
      background-color: transparent !important
      color: inherit

.markable
  position: relative
  &.selected
    background: $highlight-color

    &:not(.span-end)
      @include highlight-chain(3)

    @include ensure-black-font

.entity-marker
  height: 4px
  background-color: sandybrown

  &:not(.span-end)
    width: calc(100% + .5em)

@mixin indicator-label($label, $color)
  background-color: $color

  &.initial::before
    content: "#{$label}"
    font-size: 50%
    font-weight: bold
    font-family: monospace
    padding: .1rem .25rem
    background-color: $color
    border-radius: .25rem
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    z-index: 1

.span-indicator
  width: calc(100% + #{$space-width})
  position: absolute
  left: 0
  height: 3px

  &.final
    width: 100%

.named-entity
  &__LOCATION
    @include indicator-label(LOC, sandybrown)

  &__PERSON
    @include indicator-label(PERSON,mediumseagreen)

tr:has(.span-indicator) > td
  padding-bottom: 2.5rem
