.Fragmentarium h3 {
  padding-left: 2em;
}

.Fragmentarium-header {
  margin-bottom: 1em;
}

.Fragmentarium-search {
  padding-bottom: 2em;
}

.Fragmentarium-search__header {
  padding-bottom: 1em;
  margin: auto;
  max-width: 55em;
}



