.Fragmentarium-header {
  margin-bottom: 1em;
}

.Fragmentarium-search {
  padding-bottom: 2em;
}

.Fragmentarium-search__header {
  margin: auto;
  max-width: 55em;
  padding-bottom: 1em;
}

.SubsectionHeading--indented {
  padding-left: 2em;
}
