.Fragmentarium-header {
  margin-bottom: 1em;
}

.Fragmentarium-search {
  padding-bottom: 2em;
}

.Fragmentarium-search__header {
  padding-bottom: 1em;
  margin: auto;
  max-width: 55em;
}

.Fragmentarium-search__button-bar {
  margin: 1em;
  text-align: center;
}

