.Statistics {
  font-size: 1.5em;
  text-align: center;
}

.Statistics__content {
  display: inline-block;
  text-align: left;
}

.Statistics__row {
  margin-top: 1em;
  padding-left: 2em;
}

.Statistics__value {
  font-weight: bold;
}