.SearchForm
  &__wrapper
    .form-group
      flex-wrap: nowrap
  &__ButtonToolbar
    display: flex
    justify-content: center
  &__help-col
    display: flex
    padding: .5em 0 0
    align-content: flex-start
    flex-wrap: wrap
    justify-content: flex-end
    max-width: fit-content

.accordion-border-bottom
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
