.SearchForm
  &__wrapper
    .form-group
      flex-wrap: nowrap
    .btn-toolbar
      justify-content: center
      margin-bottom: 1rem
    .transliteration-search-form
      margin-bottom: .5rem

  &__help-col
    display: flex
    padding-top: .5em
    align-content: flex-start
    flex-wrap: wrap
    justify-content: flex-end
    max-width: fit-content
    min-width: 50px

  &__advanced-link
    padding-bottom: 1rem
    a
      color: inherit

.accordion-border-bottom
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
