.lines-with-lemma
    &__tab
        margin-top: 1.5rem

    &__textname
        font-style: italic

    &__tokens
        margin-left: 3rem

    &__header
        font-weight: normal
        font-size: 1.2rem

    &__genre
        padding-top: 1rem
        font-weight: normal
        font-size: 1.5rem
    
td .Transliteration__AkkadianWord--highlight
    background-color: lightgrey
