.Display__lines {
  list-style: none;
  padding: 0;
}

.Display__line--ControlLine {
  color: darkgrey
}

.Display__token--Reading,
.Display__token--Number,
.Display__token--UnidentifiedSign,
.Display__token--CompoundGrapheme,
.Display__token--Joiner {
  font-style: italic;
}

.Display__token--Logogram {
  font-variant: small-caps;
}
