.Display__lines {
  list-style: none;
  padding: 0;
}

.Display__line--ControlLine {
  color: darkgrey
}

.Display__bracket,
.Display__flag,
.Display__subIndex,
.Display__token--Determinative,
.Display__token--Determinative .Display__token--Reading,
.Display__token--Determinative .Display__token--Number,
.Display__token--Determinative .Display__token--UnidentifiedSign,
.Display__token--Determinative .Display__token--CompoundGrapheme,
.Display__token--Determinative .Display__token--Joiner {
  font-style: normal;
  font-variant: normal;
}

.Display__token--Determinative + .Display__token--Determinative > sup:before {
  content: ".";
}

.Display__token--Reading,
.Display__token--Number,
.Display__token--UnidentifiedSign,
.Display__token--CompoundGrapheme,
.Display__token--Joiner,
.Display__token--Divider,
.Display__token--DocumentOrientedGloss,
.Display__token--PhoneticGloss,
.Display__token--LinguisticGloss {
  font-style: italic;
  font-variant: normal;
}

.Display__token--Logogram {
  font-style: normal;
  font-variant: small-caps;
}
