.Transliteration {
  list-style: none;
  padding: 0;
}

.Transliteration__ControlLine {
  color: darkgrey
}

.Transliteration__bracket,
.Transliteration__flag,
.Transliteration__subIndex,
.Transliteration__Determinative,
.Transliteration__Determinative .Transliteration__Reading,
.Transliteration__Determinative .Transliteration__Number,
.Transliteration__Determinative .Transliteration__UnidentifiedSign,
.Transliteration__Determinative .Transliteration__CompoundGrapheme,
.Transliteration__Determinative .Transliteration__Joiner {
  font-style: normal;
  font-variant: normal;
}

.Transliteration__Determinative + .Transliteration__Determinative > sup:before {
  content: ".";
}

.Transliteration__Reading,
.Transliteration__Number,
.Transliteration__UnidentifiedSign,
.Transliteration__CompoundGrapheme,
.Transliteration__Joiner,
.Transliteration__Divider,
.Transliteration__DocumentOrientedGloss,
.Transliteration__PhoneticGloss,
.Transliteration__LinguisticGloss {
  font-style: italic;
  font-variant: normal;
}

.Transliteration__Logogram {
  font-style: normal;
  font-variant: small-caps;
}
