
@mixin normal-font
  font-style: normal
  font-variant: normal

@mixin sumerian
  &--SUMERIAN
    @include normal-font
    letter-spacing: 0.1em

@mixin emesal
  &--EMESAL
    @include normal-font
    color: black
    letter-spacing: 0.1em

.Transliteration
  list-style: none
  padding: 0

  &__ControlLine
    color: darkgrey

  &__DollarAndAtLine,
  &__DollarAndAtLineWithParenthesis
    color: darkgrey
    text-indent: 1em

  &__ruling
      margin-bottom: 0.2em
      border-top: thin solid black

  &__Reading,
  &__Number,
  &__Divider
    @include normal-font

  &__Reading,
  &__UnidentifiedSign,
  &__Joiner,
    font-style: italic
    font-variant: normal

    .Transliteration__Determinative &,
    .Transliteration__Word--SUMERIAN &,
    .Transliteration__Word--EMESAL &
      @include normal-font

  &__bracket,
  &__flag,
  &__subIndex,
  &__modifier
    @include normal-font

  &__glossJoiner
    display: none

  &__Determinative
    @include normal-font

    & + & .Transliteration__glossJoiner
      display: inline

  &__wordSeparator,
  &__Word,
  &__Divider
    @include emesal
    @include sumerian

  &__Logogram,
  &__CompoundGrapheme,
  &__Grapheme
    font-style: normal
    font-variant: small-caps

  &__Reading,
  &__Number,
  &__Logogram,
  &__Divider,
  &__Grapheme,
  &__CompoundGrapheme,
  &__UnidentifiedSign,
  &__UnclearSign,
  &__Joiner,
  &__glossJoiner
    &--BROKEN_AWAY
      color: darkgrey

  &__BrokenAway,
  &__PerhapsBrokenAway,
  &__AccidentalOmission,
  &__IntentionalOmission,
  &__Removal
    @include normal-font

  &__Tabulation
    display: inline-block
    width: 1em

    & + .Transliteration__wordSeparator
      display: none
