.fragment-result
  &__match-info
    display: flex
    padding: 1em 0

.fragment-result
  &__fragment-number, &__accession, &__record
    margin-bottom: 0
  &__genre ul
    padding-left: 0
  &__project-logos
    display: flex
    justify-content: end
