.Details {
  list-style: none;
  padding: 0;
}

.Details__item {
  margin-bottom: 0.2em;
}

.Details__item--extra-margin {
  margin-bottom: 1em;
}

.Details-joins {
  display: inline;
  padding: 0;
}

.Details-joins__join {
  display: inline;
}

.Details-joins__join + .Details-joins__join::before {
  content: ', ';
}
