.sign-images__sign-image {
  min-width: 80px;
  max-height: 100px;
}

.figure-caption .mesopotamian-date-display {
  color: black;
  font-size: 90%;
}

.figure-caption .provenance {
  color: black;
}
