@import src/design-tokens

.map-tab
  &__container
    width: 100%
    height: 500px
    border-radius: 0.25rem
    border: 1px solid $ebl-color-border-default

  &__search
    max-width: 400px

.maplibregl-popup-content
  a
    color: $ebl-color-brand-primary
    font-weight: 500
