.Wrapper {
  text-align: center;
}

.Statistics {
  font-size: 1.5em;
  margin: auto;
  text-align: left;
  display: inline-block;

}

.Statistics__values {
  margin-top: 1em;
}

.Statistics_value {
  font-weight: bold;
}