.dossier-records__item
    cursor: pointer
    margin-right: 8px
    text-decoration: underline
    text-decoration-style: dotted

    &__active
        text-decoration: underline
        text-decoration-style: dotted

.reference-popover__popover
    opacity: 0
    transition: opacity 0.4s linear

    &.show
        transition: opacity 0.4s linear
        opacity: 1

.dossier-record p
    margin-block-end: 0