.script-selection
    &__button-wrapper
        display: flex
        align-items: flex-start
        justify-content: space-between

        button
            margin-left: .5em
    &__selection
        margin-bottom: 0.5em
