.UncuratedReferencesList__searchTerm {
  font-family: monospace;
  background-color: var(--ebl-color-surface-subtle);
  border: 1px solid var(--ebl-color-border-subtle);
  font-size: 0.82em;
  color: var(--ebl-color-brand-primary);
}
