@import src/design-tokens

.Realia__metadata
    font-size: 0.9rem
    color: $ebl-color-text-secondary
    margin-bottom: 0.5rem

.Realia__metadata-label
    font-weight: 600
    color: $ebl-color-text-primary

.Realia__afo-citation
    color: $ebl-color-text-secondary
    font-size: 0.9rem

.Realia__section
    margin-bottom: 2rem
