.annotation-tool
.annotation-line
    &__source
    &__annotation-layer
        font-size: .7em
        td
            padding-bottom: 1em
        .markable-token
            white-space: nowrap
            border: 1px dashed orange
            margin-right: 1em
