/* stylelint-disable property-no-vendor-prefix */
input[type='range'][orient='vertical'] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
/* stylelint-enable property-no-vendor-prefix */
