.Signs-search {
  margin: 0 auto 2em auto;
  max-width: 32em;
}

.MesZL--text {
  line-height: 180%;
}

.MesZL--popover {
  min-width: 40%;
}

.SignName {
  font-style: normal;
  text-transform: lowercase;
}
.Help__list {
  display: flex;
}
.Help__list-name {
  min-width: 60px;
}
.Help__popover {
  min-width: 600px;
}

.Results {
  max-width: 190px;
}
