.Signs-search {
  margin: 0 auto 2em auto;
  max-width: 32em;
}

@font-face {
  font-display: swap;
  font-family: 'Assurbanipal';
  font-style: normal;
  font-weight: normal;
  src: url('Assurbanipal.woff') format('woff'),
    url('Assurbanipal.woff2') format('woff2'),
    url('Assurbanipal.ttf') format('truetype');
}

.CuneiformFont {
  font-family: 'Assurbanipal', inherit;
}
.SignName {
  font-style: normal;
  text-transform: lowercase;
}

.Help__list-name {
  max-width: 80px;
}
.Help__popover {
  min-width: 600px;
}

.Results {
  max-width: 190px;
}
