@import src/design-tokens

.realia-token-links
  margin-left: .1em

  a
    color: darken($ebl-color-entity-realia, 25)
    font-size: 90%
    font-weight: bold
    text-decoration: none

    &:hover
      text-decoration: underline

    & + a
      margin-left: .2em
