textarea.form-control.assurbanipal
    font-size: 150%
    font-family: Assurbanipal, Junicode, serif  !important
textarea.form-control.neo-babylonian
    font-size: 150%
    font-family: Neo-Babylonian,'Adobe Blank', Junicode, serif  !important
