textarea.form-control
    font-size: 150%
textarea.form-control.assurbanipal
    font-family: Assurbanipal, Junicode, serif 
textarea.form-control.esagil
    font-family: 'Neo-Babylonian', Junicode, serif
textarea.form-control.santakku
    font-family: 'Old-Babylonian Cursive', Junicode, serif
textarea.form-control.santakkum
    font-family: 'Old-Babylonian (Monumental)', Junicode, serif

textarea.form-control.ullikummia
    font-family: 'Hittite', Junicode, serif



