.chapter-display
    width: 100%

    &__line-number
        padding-right: 1em

        & ~ &
            padding-left: 2em

    &__intertext
        color: #808080
        font-size: 80%
        padding: 1em 0

    &__line
        &--is-second-line-of-parallelism
            .chapter-display__line-number + td
                padding-left: 0.75em

        &--is-beginning-of-section
            td
                padding-top: 1em

        &__line-toggle
            width: 1em
            cursor: pointer

    &__manuscripts
        margin-left: 1em
        margin-top: 0.5em

    &__manuscripts-siglum
        font-size: 80%
        padding-right: 0.5em
        text-align: left

    &__manuscripts-labels
        font-size: 80%
        text-align: left

    &__manuscripts-paratext
        font-family: sans-serif
        font-size: 80%
        padding-left: 1em
