.chapter-display
    width: 100%

    &__line-number
        padding-right: 1em

        & ~ &
            padding-left: 2em
            
    &__intertext
        color: #808080
        font-size: 80%
        padding: 1em 0 
