.chapter-display
    width: 100%

    &__line-number
        padding-right: 1em

        & ~ &
            padding-left: 2em

    &__intertext
        color: #808080
        font-size: 80%
        padding: 1em 0
        text-align: center

    &__line
        &--is-second-line-of-parallelism
            .chapter-display__line-number + td
                padding-left: 0.75em

        &--is-beginning-of-section
            td
                padding-top: 1em

    &__manuscripts-toggle
        width: 1em
        color: #007bff
        cursor: pointer

    &__manuscripts,
    &__note
        margin-left: 1em
        margin-top: 0.5em
        margin-bottom: 1.5em

    &__manuscript
        &--standard
            font-weight: bolder

    &__manuscript-siglum
        font-size: 80%
        padding-right: 0.5em
        text-align: left

    &__manuscript-labels
        font-size: 80%
        text-align: left

    &__manuscript-paratext
        font-size: 80%
        color: #808080
        padding-left: 1em

    &__manuscript-info-toggle
        cursor: pointer
        color: #007bff

    &__manuscript-notes
        list-style: none
        font-size: 80%
        margin: 0
        padding: 0
