.text-view__section
  padding-left: 2rem
  margin-bottom: 2rem

.text-view__section-heading
  text-indent: -2rem
   
.text-view__references
  margin-top: 5rem

.text-view__reference-group
  margin-bottom: .5em

.text-view__reference-group-title
  font-weight: bold
