.text-view__introduction
  margin-bottom: 2rem

  .text-view__markdown
    margin-left: 2rem

.text-view__references
  margin-left: 2rem
  margin-top: 5rem

.text-view__reference-group
  margin-bottom: .5em

.text-view__reference-group-title
  font-weight: bold
