@mixin highlight-token
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  transform: scale(1.15)
  span[class^="Transliteration__"]
    color: black !important

.lemmatizer
  &__anno-tool
    td
      vertical-align: top
  &__editor
    display: block
    position: initial
    &__col
      padding: 0
    &__row
      padding: 0 .5rem
  &__token-wrapper.editable
    border: 1px solid black
    display: inline-flex
    flex-direction: column
    padding: .2rem

    > span
      display: block

    &:hover
      @include highlight-token
      border: 1px solid lightgrey
      cursor: pointer
      background-color: lightgrey

    &.selected
      @include highlight-token
      border: 1px solid lightblue
      background-color: lightblue

    &.pending
      @include highlight-token
      border: 1px solid yellow
      background-color: yellow
  &__lemma-preview
    font-size: small
    font-style: italic
