.lemmatizer
  &__editor
    display: block
    position: initial
    &__col
      padding: 0
  &__token-wrapper.editable
    border: 2px dashed lightgrey
    &:hover
      cursor: pointer
      background-color: lightgrey
    &.selected
      background-color: lightblue
      font-weight: bold
