.list-group-item
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;

.list-group-item:hover
  background-color: #f9f9f9;

.project-list__image
  max-width: 30%;
  height: auto;
  border-radius: 5px;

.project-name
  font-size: 1.25rem
  padding-left: 1em
