.pointer__hover:hover
  cursor: pointer

.copyIcon
  padding: 3px 5px 0

.arabicGuideWord
  text-indent: 2em
  font-size: 70%

.supplementsAkkadianDictionaries
  text-indent: 15px
  margin-left: 5em
  br
    display: block
    content: ''
    margin-top: 10px

.dictionary-heading
  margin-top: 1rem
  margin-bottom: .5rem

.unicode-large
  font-size: 120%