.pointer__hover:hover
  cursor: pointer

.copyIcon
  padding: 3px 5px 0

.supplementsAkkadianDictionaries
  text-indent: 15px
  margin-left: 5em
  br
    display: block
    content: ''
    margin-top: 10px
