.date-field-input
    flex: 0 0 8em
    max-width: 8em

.date-field-warning
    color: #8a6d3b
    display: block

.date-field-switch
    margin-left: 10px

.date-field-patterns-help
    margin-bottom: 4px

.date-field-patterns-help__button
    line-height: 1
