.Word--suggestion {
  color: red;
}

.Word--with-lemma {
  font-weight: bolder;
}

.Word--with-lemma .Word__lemmatization {
  font-size: 75%;
  font-weight: normal;
  margin-left: 0.33em;
  vertical-align: sub;
}

.Word__lemma {
  font-style: italic;
}
