.App-header,
.App-intro {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
  border-bottom: 1px solid black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App section {
  margin-left: 5%;
  margin-right: 5%;
}

.App-nav ul,
.App-nav li {
  display: inline;
  margin: 0.5em;
}