.App-header,
.App-intro {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: black;
  border-bottom: 1px solid black;
}

.App-title {
  font-size: 1.5em;
}

.App section {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.App-nav ul,
.App-nav li {
  display: inline;
  margin: 0.5em;
}