.Header {
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  padding: 1.5em;
  text-align: center;
}

.Header__title {
  font-size: 2em;
}

.Header__title-main {
  border-right: 0.05em solid black;
  display: inline-block;
  margin-right: 0.5em;
  padding-right: 0.5em;
  text-align: right;
}

.Header__title-abbreviation {
  color: white;
  font-size: 4em;
  text-shadow: -1px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.Header__nav,
.Header__nav-item {
  display: inline;
  padding: 0.5em;
}
