.Header__corporate-logo {
  height: 4em;
  margin-bottom: 0.5rem;
}

.Header__title {
  font-size: 1em;
}

.Header__title-main {
  border-right: 0.05em solid black;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 0.5em;
  padding-right: 0.5em;
  text-align: right;
}

.Header__title-abbreviation {
  color: white;
  font-size: 4em;
  line-height: 0.7;
  text-shadow: -1.5px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

#navbar-container {
  width: 100%;
}

#menu-lines {
  padding: 0 40px;
}
