@import src/design-tokens
@import src/fonts

:root
  --ebl-color-brand-primary: #{$ebl-color-brand-primary}
  --ebl-color-brand-primary-dark: #{$ebl-color-brand-primary-dark}
  --ebl-color-surface-primary: #{$ebl-color-surface-primary}
  --ebl-color-surface-subtle: #{$ebl-color-surface-subtle}
  --ebl-color-border-subtle: #{$ebl-color-border-subtle}
  --ebl-color-border-light: #{$ebl-color-border-light}
  --ebl-color-border-corpus-soft: #{$ebl-color-border-corpus-soft}
  --ebl-color-border-corpus-accent: #{$ebl-color-border-corpus-accent}
  --ebl-color-text-corpus-muted: #{$ebl-color-text-corpus-muted}

body
  @include ebl-font
  font-size: initial
  margin: 0
  padding: 0
