.reference-popover__citation {
  cursor: help;
}

.reference-popover__popover {
  font-family: inherit;
  max-width: 32em;
}

.reference-popover__interactive {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  cursor: pointer;
}
