name: CI

on:
  push:
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v1
        with:
          node-version: '20'

      - name: Install
        id: install
        run: yarn install --dev --frozen-lockfile

      - name: Lint
        if: success() || steps.install.outcome == 'success'
        run: yarn lint

      - name: Compile
        if: success() || steps.install.outcome == 'success'
        run: yarn tsc

      - name: Unit Tests
        id: unit_tests
        if: success() || steps.install.outcome == 'success'
        run: yarn test --coverage --forceExit --detectOpenHandles

      - uses: qltysh/qlty-action/coverage@v1
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/lcov.info
  docker:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-buildx-action@v1

      - uses: docker/login-action@v1
        with:
          registry: ebl.badw.de
          username: ${{ secrets.EBL_REGISTRY_USERNAME }}
          password: ${{ secrets.EBL_REGISTRY_PASSWORD }}

      - id: docker_build
        uses: docker/build-push-action@v2
        with:
          build-args: |
            REACT_APP_AUTH0_DOMAIN=auth.ebl.lmu.de
            REACT_APP_CORRECTIONS_EMAIL=ebl-support+corrections@culture.lmu.de
            REACT_APP_INFO_EMAIL=ebl-info@culture.lmu.de
            REACT_APP_AUTH0_CLIENT_ID=${{ secrets.REACT_APP_AUTH0_CLIENT_ID }}
            REACT_APP_AUTH0_AUDIENCE=${{ secrets.REACT_APP_AUTH0_AUDIENCE }}
            REACT_APP_DICTIONARY_API_URL=/api
            REACT_APP_SENTRY_DSN=${{ secrets.REACT_APP_SENTRY_DSN }}
            REACT_APP_GA_TRACKING_ID=${{ secrets.REACT_APP_GA_TRACKING_ID }}
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ebl.badw.de/ebl-frontend:master
            ${{format('ebl.badw.de/ebl-frontend:master.{0}', github.run_number)}}

  docker-test:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-buildx-action@v1

      - uses: docker/login-action@v1
        with:
          registry: ebl.badw.de
          username: ${{ secrets.EBL_REGISTRY_USERNAME }}
          password: ${{ secrets.EBL_REGISTRY_PASSWORD }}

      - id: docker_build
        uses: docker/build-push-action@v2
        with:
          build-args: |
            REACT_APP_AUTH0_DOMAIN=auth.ebl.lmu.de
            REACT_APP_CORRECTIONS_EMAIL=ebl-support+corrections@culture.lmu.de
            REACT_APP_INFO_EMAIL=ebl-info@culture.lmu.de
            REACT_APP_AUTH0_CLIENT_ID=${{ secrets.REACT_APP_AUTH0_CLIENT_ID }}
            REACT_APP_AUTH0_AUDIENCE=${{ secrets.REACT_APP_AUTH0_AUDIENCE }}
            REACT_APP_DICTIONARY_API_URL=/test/api
            REACT_APP_SENTRY_DSN=${{ secrets.REACT_APP_SENTRY_DSN }}
            REACT_APP_GA_TRACKING_ID=${{ secrets.REACT_APP_GA_TRACKING_ID }}
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ebl.badw.de/ebl-frontend:test
